{% extends 'base.html' %}
{% from 'macros.html' import panel_component %}

{% block content %}
    <div class="container">
        <h2>Book #{{ book.id }}</h2>
        <a href="{{ url_for('game_detail', game_id=book.game.id) }}" class="btn btn-sm btn-outline-secondary mb-3">
            &larr; From Game: {{ book.game.title if book.game.title else ("Game Night " + book.game.date.strftime('%m-%d-%Y')) }}
        </a>
        <div class="book-stream">
            {% for page in book.pages %}
                {{ panel_component(page, show_book=False) }}
                
                {% if not loop.last %}
                    <div class="connector">⬇</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}