name: Deploy to RackNerd

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: VPS racknerd
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/bpp-archive
            git pull origin main
            # The --build flag ensures your latest code changes are included
            docker compose up -d --build
            # Optional: Clean up old, unused images to save disk space
            docker image prune -f
